<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head::headerFragment('Edit Student')"></head>

<body>

<!-- Navbar -->
<div th:replace="fragments/navbar::navbar"></div>
<!-- EndNavbar-->
<!-- .container.mt-5 presionar el "tab" -->

<!-- container > row > col -->
<div class="container mt-5">
  <!-- h1.text-center -->
  <h1 class="text-center">Edit Student Form</h1>
  <!-- .row -->
  <div class="row">
    <!-- .col-4 -->
    <div class="col-4 offset-4">
      <form id="student-form" th:action="@{/student/{id}(id=${student.id})}" th:object="${student}" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
                  type="text"
                  class="form-control"
                  id="name"
                  th:field="*{name}"

          />
          <!-- th:field="*{name}" -->
          <small id="nameError" class="text-danger" style="display:none">
            El campo nombre no puede estar vacío
          </small>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Apellido</label>
          <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  th:field="*{lastname}"

          />
          <!-- th:field="*{name}" -->
          <small id="lastNameError" class="text-danger" style="display:none">
            El campo apellido no puede estar vacío
          </small>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Email</label>
          <input
                  type="text"
                  class="form-control"
                  id="email"
                  th:field="*{email}"

          />
          <!-- th:field="*{name}" -->
          <small id="emailError" class="text-danger" style="display:none">
            El campo email es invalido
          </small>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Edit Student</button>
        </div>


      </form>
    </div>
  </div>
</div>
<script th:src="@{/js/validation.js}"></script>
</body>

</html>